{% set section = include_dict.section %}

<section class="content__row bulletpoints__section" data-id="{{section.section_id}}">
{% for bulletpoint in about %}
  <section class="content__row bulletpoint__section">
    <img class="bulletpoint__section-image" src="{%  imageUrlFor bulletpoint.default_image  %}">
    <div class="bulletpoint__section-content-container">
      <h2 class="bulletpoint__section-title">{{ bulletpoint.title }}</h2>
      <div class="bulletpoint__section-content">
        {{ bulletpoint.description }}
      </div>
    </div>
  </section>
{% endfor %}
</section>