
<section class="content__row" data-id="{{section.section_id}}">
    {% for category in categories | where('featured', true) %}
        <h2 class="content__row-title">{{ category.title }}</h2>
        {% set include_dict = { 'product_page': product_page, category: category.title } %}
        {% include "product_grid.html" %}
    {% endfor %}
</section>
